<?xml version="1.0" encoding="utf-8" ?>
<uexplugins>
    <plugin name="uexUploaderMgr">
        <method name="setHeaders" sync="true"></method>
        <method name="createUploader" sync="true"></method>
        <method name="closeUploader" sync="true"></method>
        <method name="uploadFile"></method>
        <method name="appendFileData" sync="true"></method>
        <method name="startUploader"></method>
        <method name="getInfo" sync="true"></method>
        <method name="observeUploader" sync="true"></method>
        <method name="setDebugMode"></method>
    </plugin>
</uexplugins>
